<div  data-role="footer">
  <p><%= link_to 'Alberto Perdomo', "http://twitter.com/albertoperdomo" %>. <%= link_to 'Source code', "https://github.com/albertoperdomo/conferencia-rails-mobile" %></p>
</div>